.detail__container {
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail__card {
  width: 80%;
  max-width: 500px;
  box-shadow: 0 4px 12px 0 rgba(36, 36, 36, 0.5);
}

/* Otros estilos para la tarjeta... */
.detail__card .ant-card-meta-title {
  font-size: 1.6em !important;
}

.detail__info {
  margin-bottom: 40px;
  &:last-child {
    margin-bottom: 10px;
  }
}

.detail__card .ant-card-meta-description p {
  height: auto;
}

.detail__strong {
  font-weight: 600 !important;
}

.detail__card .ant-btn:not(.ant-btn-primary) {
  border-color: var(--azul, #1677ff) !important;
  color: var(--azul) !important;
}

.detail__card .ant-btn-primary {
  color: white !important;
}

.detail__card .ant-btn:hover,
.detail__card .ant-btn-primary:hover {
  background-color: var(--azul) !important;
  border-color: var(--azul) !important;
  color: white !important;
  opacity: 1;
}

.ant-card-actions {
  border-top: none !important;
}

.ant-card-actions > li:not(:last-child) {
  border-inline-end: none !important;
}

.detail__card .ant-btn {
  font-size: 19px;
  padding: 8px 40px;
  height: auto;
  line-height: 1.5;
  margin-bottom: 15px;
}
