.list__container {
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.list__cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  max-width: 80%;
}

.ant-select-selector {
  border-color: var(--azul) !important;
  font-family: var(--font) !important;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: var(--azul) !important;
  color: white !important;
}
